* {
    margin: 0px;
}

.all {
    background-color: #101C26;

}

.all-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.all-2 {
    display: flex;
    gap: 20px;
    color: gray;
}

.all-text {
    color: white;
    border-bottom: 2px solid white;
}
.all-btuno
{
    display: flex;
    margin: 25px 0px;
}
.all-button {
    padding: 8px 20px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #101C26;
    color: white;
}
.all-button-1 {
    padding: 8px 20px;
    background-color: #F0E714;
    color: black;
    border-radius: 20px;
    border: none;
}
.all-2section{
    color: white;
  margin-left: 40px;    
}
.all-button-2{
    padding: 8px 20px ;
    background-color: #F0E714;
    border: none;
    border-radius: 20px;
}
.text-h1{
    width: 400px;
    margin: 20px 0px;
    font-size: 50px;
}
.text-p{
    width: 300px;
    margin: 25px 0xp;
}

.all-button-4 {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    background-color: #101C26;
    border: none;
    color: white;
    border-radius: 20px;
    gap:10px;
   
}
.all-button-4 img {
    width: 20px;
}
.flex-text{
    display: flex;
    text-align: center;
    gap: 30px;
    margin-left: -10px;
}
.schochik{
    color: #F0E714;
}
.img img{
   width: 500px;
}
.fle{
    display: flex;
    justify-content: space-between;
}
.flex-oxir{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-bottom: 20px;
}
.top img{
    width: 500px;
}
.top{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
.h1{
    margin-top: 30px;
}
.p{
    margin: 30px 0px;
}
.gravni{
    background-color: #f0e91464;
    color: black;
    width: 80px;
    padding: 3px;
    text-align: center;
    border-radius: 20px;
    margin-left: 10px;
}
.button-bek{
    padding: 8px 20px;
    border-radius: 20px;
    background-color: #101C26;

    color: #F0E714;
    border: none;
}
.qq img{
    width: 60px;

}
.qq{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
}
.d{
    display: flex;
    align-items: center;
}